#s2id_select-corns, #s2id_select-regions {
    display: none;
}

.order-table {
    border: 3px solid #f8a63d;
}

.order-table-row {
    border-bottom: 1px solid #f8a63d;
    margin-left: 0;
    margin-right: 0;
}

.order-table-row.closed {
	background: #0000001a;
}

.toogle-order-detailed {
    border-bottom: 1px dotted #f8a63d;
}

.row-filter {
    margin-bottom: 15px;
}

.button-filter {
    min-width: 0;
    font-size: 9px;
}

.range + h3 {
    margin-top: 15px;
}

#order-filter {
    margin-top: 15px;
}

.filter-price-set {
    margin-bottom: 15px;
}

.table-price {
    background-image: url(/images/combine.png);
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    /*width: 100%;*/
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bolder;
    color: #FFF;
}

.button-tableprice-view {
    font-size: 16px;
    font-weight: bolder;
    color: #FFF;
    margin-top: 20px;
}

.page-header + .table-price {
    margin-top: 0px;
}

.divider-nav {
	margin-bottom: 10px;
	margin-top: 10px;
}

.views_order {
	margin-right: 10px;
}

a > h6 {
	margin-bottom: 0;
	margin-top: 0;
}

.rd-navbar-fixed .rd-navbar-brand {
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0;
    font-size: 22px;
	line-height: 46px;
}

.rd-navbar-toggle {
	z-index: 1000 !important;
}

.lbl-sms-agree {
	text-align: left;
}

.col-fav-elevator, #all-fav-elevators {
	color: #f8a63d !important;
	cursor: pointer;
}

#elevator-filter {
	margin-top: 15px;
}

.unit-body {
	line-height: 0.5;
	font-weight: 500;
}

.brand-name > img {
	max-width: 150%;
}

.rd-navbar-top-panel {
	padding-top: 20px;
}

.pagination > li > a, .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	background-color: #02646f;
}

.pagination > li > a, .pagination > li > span {
	color: #02646f;
}

.unit-body > p > a {
	color: #f8a63d;
	font-size: 14px;
}

.content {
	margin-left: auto;
	margin-right: auto;
}

.news-list {
	margin-bottom: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.news-list-date {
	margin-bottom: 20px;
}

.shell > h3 {
	margin-top: 15px;
}

.rates-mobile {
	font-size:16px;
	margin-bottom: 20px;
}

.toogle-off {
	display: none;
}

#more-next {
	/*background: #02646f;*/
	border: 1px solid #02646f;
	color: #02646f;
}

.border-bottom-3px {
	border-bottom: none;
}

section {
	width: 100% !important;
}

.text-closed-order {
	font-size: 12px;
}

.usermenu {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
}

.usermenu-dropdown {
	z-index:9;
}